@model CloudSchool.Models.Teacher

@{
    ViewBag.Title = "DisplayTeacher";
    Layout = "~/Views/Shared/_DashboardSchool.cshtml";
}

<h2>Teacher Profile</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">


                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FatherName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FatherName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmailID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CNIC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CNIC)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InstituteName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InstituteName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MobileNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Qualification)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Qualification)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Experience)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Experience)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProfilePicture)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProfilePicture)
                </dd>

            </dl>
        </div>
        <div class="col-md-4">
            <div>
                <img src="~/Images/lincoln-vampire.jpg" class="img-thumbnail" />
            </div>
            <p>
                Profile Picture
            </p>

        </div>
    </div>

</div>
<p>
    <span class="btn btn-warning" id="MyButton">@Html.ActionLink("Edit", "EditTeacher", new { id = Model.ID })</span> |
    <span class="btn btn-primary" id="MyButton">@Html.ActionLink("Back to List", "InstituteTeachers")</span>
</p>
