@model IEnumerable<CloudSchool.Models.Teacher>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Teachers";
    Layout = "~/Views/Shared/_DashboardSchool.cshtml";
}

<h2>Institute Teachers</h2>

<div>
    <span id="MyButton" class="btn btn-success"> @Html.ActionLink("Add Teacher", "AddTeacher")</span>
</div>
<br />
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search"  class="btn btn-success" id="MyButton"/>
    </p>
}

<table class="table" border="5">
    <tr>
        <th>
            @Html.ActionLink("Name", "InstituteTeachers", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>

            <td>
                <span class="btn btn-warning" id="MyButton">@Html.ActionLink("Edit", "Edit", new { id = item.ID }) </span> |
                <span class="btn btn-success" id="MyButton"> @Html.ActionLink("Details", "Details", new { id = item.ID }) </span> |
                <span class="btn btn-danger" id="MyButton">@Html.ActionLink("Delete", "Delete", new { id = item.ID }) </span>
            </td>
        </tr>

    }
</table>
@*<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
