@model IEnumerable<CloudSchool.Models.Institute>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSchool.cshtml";
}

<h2>Index</h2>

<p>
    <span class="btn btn-success" id="MyButton">@Html.ActionLink("Create New", "Create") </span>
</p>
<table class="table" border="5">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
       
        
        <td>
            <span class="btn btn-warning" id="MyButton"> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) </span> |
            <span class="btn btn-success" id="MyButton"> @Html.ActionLink("Details", "Details", new { id = item.ID }) </span> |
            <span class="btn btn-danger" id="MyButton"> @Html.ActionLink("Delete", "Delete", new { id = item.ID })
</td>
    </tr>
}

</table>
