@model IEnumerable<CloudSchool.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastPassedExam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastExamTotalMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastExamObtainedMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrolledClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrolledSectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailIDParents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastPassedExam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastExamTotalMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastExamObtainedMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrolledClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrolledSectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailIDParents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilePicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstituteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
