@model IEnumerable<CloudSchool.Models.Student>

@{
    ViewBag.Title = "Enrolled Students";
    Layout = "~/Views/Shared/_DashboardSchool.cshtml";
}

<h2>Students Enrolled</h2>

<p class="row">
    <span class="btn btn-primary" id="MyButton" style="float:right">@Html.ActionLink("Enroll New Student", "Create")</span>
</p>
@{
    int counter = 0;

    foreach (var item in Model)
    {
        counter = counter + 1;
    <div class="row">
        <p>@counter</p>
        <div class="col-md-6">
            <div><h4>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(modelItem => item.Name)</h4></div>
            <div> @Html.DisplayNameFor(model => model.FatherName) : @Html.DisplayFor(modelItem => item.FatherName)</div>
            <div>@Html.DisplayNameFor(model => model.DateOfBirth) : @Html.DisplayFor(modelItem => item.DateOfBirth)</div>
            <div>@Html.DisplayNameFor(model => model.EmailID) : @Html.DisplayFor(modelItem => item.EmailID)</div>
            <div>@Html.DisplayNameFor(model => model.CNIC) : @Html.DisplayFor(modelItem => item.CNIC)</div>
            <div>@Html.DisplayNameFor(model => model.Address) : @Html.DisplayFor(modelItem => item.Address)</div>
        </div>
        <div class="col-md-6">
            <br />
            <div>@Html.DisplayNameFor(model => model.MobileNumber) : @Html.DisplayFor(modelItem => item.MobileNumber)</div>
            <div>@Html.DisplayNameFor(model => model.Gender) : @Html.DisplayFor(modelItem => item.Gender)</div>
            <div>@Html.DisplayNameFor(model => model.LastPassedExam) : @Html.DisplayFor(modelItem => item.LastPassedExam)</div>
            <div>@Html.DisplayNameFor(model => model.RegistrationNumber) : @Html.DisplayFor(modelItem => item.RegistrationNumber)</div>
            <div>@Html.DisplayNameFor(model => model.EnrolledClassName) : @Html.DisplayFor(modelItem => item.EnrolledClassName)</div>
            <div>@Html.DisplayNameFor(model => model.EnrolledSectionName) : @Html.DisplayFor(modelItem => item.EnrolledSectionName)</div>
            <div>@Html.DisplayNameFor(model => model.EmailIDParents) : @Html.DisplayFor(modelItem => item.EmailIDParents)</div>
        </div>

    </div>
        <hr />
        <div class="col-md-offset-8 col-md=4">
            <span class="btn btn-warning" id="MyButton">  @Html.ActionLink("Edit", "Edit", new { id = item.ID })</span> |
            <span class="btn btn-success" id="MyButton">  @Html.ActionLink("Details", "Details", new { id = item.ID })</span> |
            <span class="btn btn-danger" id="MyButton">  @Html.ActionLink("Delete", "Delete", new { id = item.ID })</span>
        </div>
        }
    }
